body{
  background-color: #81dafc;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board{
    margin-top: 100px;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "1 2 3"
    "4 5 6"
    "7 8 9";
}

.square{
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: black;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
}

.winner{
  margin-bottom: -80px;
}

.Reset{
  margin-top: 10px;
}